.badgeContainer {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-top: 1px;
}
.badgeIcon span {
	position: absolute;
	left: 50%;
	top: 36%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 20px;
}
