.owl-nav-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.owl-nav-container.disabled {
    display: none;
}
.owl-nav-container button {
    font-size: 96px;
    outline: none;
    border: none;
    background: #ffffff0a;
    border-radius: 10px;
}

.owl-item .item {
    padding: 80px;
    max-height: 700px;
    max-width: 765px;
}
.owl-item .item img {
    border-radius: 10px;
}

.owl-item .item.video {
    min-height: 650px;
    display: flex;
    align-items: center;
}
