.dashboardHeader {
	background: #f1f3f5;
}
.states {
	border-left: 5px solid #d5d7d8;
}
.notifications {
	border-left: 5px solid #d5d7d8;
}

.dashboardHeader .dropdown-menu {
	transform: translate3d(-160px, 46px, 0px) !important;
}
