.dashboardHeader {
	background: #f1f3f5;
}
.states {
	border-left: 5px solid #d5d7d8;
}
.notifications {
	border-left: 5px solid #d5d7d8;
}

.dashboardHeader .dropdown-menu {
	transform: translate3d(-100px, 40px, 0px) !important;
}
.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #343a40;
}