.expandedPostContainer {
	max-width: 1600px;
}
.closePostButtonContainer i {
	font-size: 40px;
	cursor: pointer;
	color: #000000a1;
}
.expandedPostContainer .dpMenu2.show {
    display: flex !important;
}
.expandedPostContainer .dropdown-item{
	font-size: 19px !important;
    padding: 0 20px !important;
}
