/*.container {
  padding: 40px 5%;
}
*/
/* Responsive image gallery rules begin*/

.image-gallery {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.image-gallery .column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.image-item img {
  width: 100%;
  border-radius: 5px;
  height: 100%;
  object-fit: cover;
}

@media only screen and (min-width: 768px) {
  .image-gallery {
    flex-direction: row;
  }
}

.image-item {
  position: relative;
  cursor: pointer;
}



/*.image-item:hover .overlay {
  transform: scale(1);
}
*/