.hero {
    height: 45vh;
    width: 100%;
    background-position: center center !important;
    background-size: cover !important;
}

.hero h2{
	font-size: 50px !important;
}

.hero h1{
	background: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 70px;
    font-weight: bold;
    text-align: center;
}

