@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  font-family: 'Poppins', sans-serif !important;
  color: #444444;
}

a {
  color: #1977cc;
}

a:hover {
  color: #3291e6;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

.subBtn {
  background: #212529 !important;
  border: 0 !important;
  padding: 10px 35px !important;
  color: #fff !important;
  transition: 0.4s !important;
  border-radius: 50px !important;
}
.subBtn:hover {
    background: #000000 !important;
}
.subBtn:active {
    background: #000000 !important;
    box-shadow: 0 0 0 0.2rem rgb(33 37 41) !important;
}
.subBtn:focus {
    background: #000000 !important;
    box-shadow: 0 0 0 0.2rem rgb(33 37 41) !important;
}
